header{
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
}
nav{
    margin: 10px 0;
    text-align: center;
    font-family: fantasy;
}
main{
    padding: 20px;
    max-width: 800px;
    margin: auto;
    border: black 1px solid;
}
footer{
    background-color: #f1f1f1;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 0.9em;
    color: #777777;
}
h1{
    font-size: 2.5em;
    color: #333333;
    text-align: center;
    margin-bottom: 20px;
}
#NUMDisplay{
    font-size: 1.5em;
    color: #444444;
    margin: 15px 0;
    text-align: center;
}
#ParaContain p{
    font-size: 1.2em;
    line-height: 1.6;
    color: #666666;
    margin-bottom: 15px;
}